//colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: black;
$blanco: white;
//mq
//fuentes
$fuentePrincipal: 'Montserrat',
sans-serif;
$regular:400;
$delgada:300;
$bold:700;
$black: 900;
//separaciones
$separacion:5rem;